.error-box {
	border-style: solid;
	border-color: #BB4444;
	border-width: 3px;
	padding: .2em 0em .2em 2em;
	background-color: #EE6666;
	font-size: 180%;
	font-weight: 550;
}
.success-box {
	border-style: solid;
	border-color: #669900;
	border-width: 3px;
	padding: .2em 0em .2em 2em;
	background-color: #66FF66;
	font-size: 180%;
	font-weight: 550;
}
