@(b: Book, transactions: List[models.Transaction])
@import scala._
@import helper._
@main("Bookkake", b.name){
  <h2>@b.name</h2>
  <div class="row">
    <div class="span10">
      @if(b.userIdOwner != -1){
        <h3>Owned by @linkuserid(b.userIdOwner) -- Possessed by @linkuserid(b.userIdPossessor)</h3>
      }else{
        @if(b.userIdPossessor != -1){
	  <h3>Checked out by @linkuserid(b.userIdPossessor)</h3>
	}else{
	  <h3>Currently in Library</h3>
	}
      }
    </div>
    @if(Application.getUser().id == b.userIdOwner){
    <div class="span2">
      <h3>Edit Book</h3>
    </div>
    }
  </div>
  <div class="row">
    <div class="span10">
      @transactiontable(transactions, List("Date", "Type", "User", "Receiver", "Payment", "Due-Date"))
    </div>
    @if(Application.getUser().id == b.userIdOwner){
    <div class="span2">
      @form(routes.Application.editBook(b.id)){
        Change book name:
        <div><input type="text" name="name" value="@b.name"></div>
        Change author name(s):
        <div><input type="text" name="author" value="@b.author"></div>
        <div>
         <select name="status" id="status-selector">
           <option @if(b.status == "Using"){ selected="selected" }>Using</option>
           <option @if(b.status == "Will lend"){ selected="selected" }>Will lend</option>
           <option @if(b.status == "Want to Sell"){ selected="selected" }>Want to Sell</option>
         </select>
        </div>
	@if(b.status == "Want to Sell"){
	  <span class='price'>Offer</span>
	  <input type='number' name='price' min='0' max='1000' step='.01' placeholder=@if(b.targetPrice != null){'@b.priceAsString()'}else{'0.00'} class='price'>
	}
        <input type="submit" value="Edit" id="submit-button">
      }

    </div>
    }
  </div>
  <script type="text/javascript">
    var showPriceInput = function (toggle) {
      console.log(toggle);
      if(toggle && !($(".price").length > 0)){
        $("#submit-button").before("<span class='price'>Offer</span>");
	$("#submit-button").before("<input type='number' name='price' min='0' max='1000' step='.01' placeholder=@if(b.targetPrice != null){'@b.priceAsString()'}else{'0.00'} class='price'>");
      }else if (!toggle){
        $(".price").remove();
      }
    };
    window.onload= function () {
      var selector = $("#status-selector");
      selector.bind("change",
        function () {
	  console.log(this.options[this.selectedIndex]);
          if(this.options[this.selectedIndex].value == "Want to Sell"){
			showPriceInput(true);
          }else{
			showPriceInput(false);
          }
      });
    };
  </script>
}    
