@(u: User)
@import scala._
@main("Bookkake - " + u.userName){
  <h2>@u.userName</h2>
  <div class="row">
    <div class="span10">
      <h2>Transactions</h2>
    </div>
    <div class="span2">
      @if(u.id == Application.getUser().id){
        <h2>Edit</h2>
      }else{
        <h2>Profile</h2>
      }
    </div>
  </div>
  <div class="row">
    <div class="span10">
      @transactiontable(models.Transaction.find.where().eq("userId", u.id).orderBy("date DESC").findList(),
          List("Date", "Name", "Type", "Receiver", "Payment", "Due-Date"))
    </div>
      @if(u.id == Application.getUser().id){
        <div class="span2">
        <form method="POST" action="/users">
          <label>Room/Location</label>
          <input type="text" name="location" value="@u.location">
	  <input type="submit">
	</form>
        </div>
      }else{
        <div class="well span4">
        <h4>Name: @if(u.realName != null){ @u.realName }</h4>
	<br>
	<h4>Room: @if(u.location != null){ @u.location }</h4>   
        </div>
      }
 </div>
}
