@()
@main("Bookkake", "FAQ"){
  <h1>FAQ</h1>
  <h2>Account</h2>
  <p>
  Your account is automatically created for you when you visit us with your WEBAUTH
  credentials. There is no need to sign in or remember a password outside of your CSH credentials.
  </p>

  <p>
  Visit the profile page on the navbar to see your transaction history and add
  additional information, such as your current room/address and your real name!
  You can also visit other member's pages to see their information and transactions.
  </p>

  <h2>Books</h2>
  <p>
  You can enter your own books on the main page, as well as loan or give them to
  other members. To loan/give a book, click on the book's give/loan link on the index
  page, enter the receiving member's CSH username, select a due date or enter a price
  if applicable, and submit. Any price information/due-dates are solely the concerns
  of the participating parties; Bookkake only stores this information for reference.
  </p>
  <h3>It says it can't find the other user! What's up with that?</h3>
  <p>
  Bookkake is not case sensitive regarding users, but a user is only created when they access
  Bookkake. Have him/her visit the website first and make sure you are using a CSH username.
  </p>
  <h3>I can't see where it says to return a book! Where do I return my book?</h3>
  <p>
  The person who gives/lends the book is responsible for marking when it is returned.
  They can do so on the index page next to where their book is shown.
  </p>
  <h2>Other</h2>
  <h3>I found a bug!</h3>
  <p>
  Come talk to me (Scott) or just post an issue to <a href="https://github.com/swinejelly/Bookkake">github</a>.
  </p>
}
