@(title: String)(content: Html)

<!DOCTYPE html>

<html>
    <head>
        <title>@title</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/bootstrap.min.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
        <script src="@routes.Assets.at("javascripts/jquery-1.7.1.min.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascripts/bootstrap.min.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascripts/accounting.min.js")" type="text/javascript"></script>
    </head>
    <body style="padding:50px;">
	@header(title)
        @content
	<footer style="color:grey;margin-top:120px">Scott Jordan 2013 -- <a href="https://github.com/swinejelly/Bookkake">Bookkake</a></footer>
    </body>
</html>
